body {
    margin-top: 3%;
}

/* Media query para dispositivos de tela pequena (por exemplo, smartphones) */
@media only screen and (max-width: 500px) {
    .principal {
        margin: 20px auto; /* Reduzi a margem para dispositivos de tela pequena */
        border-radius: 10px; /* Reduzi ainda mais o raio do arredondamento */
    }
}

/* Media query para dispositivos de tela média (por exemplo, tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .principal {
        width: 60%; /* Reduzi um pouco a largura para tablets */
    }
}

/* Media query para dispositivos de tela grande (por exemplo, desktops) */
@media only screen and (min-width: 1025px) {
    .principal {
        width: 70%; /* Reduzi ainda mais a largura para desktops */
    }
}
